@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

:root {
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --depth: 1;
  --noise: 1;
}

html#EnhancedDirectoryView {
  @apply min-h-dvh;

  & * {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    @apply font-semibold text-base text-base-content! scroll-smooth transition-all;
  }

  body {
    @apply bg-base-100 mx-2;
  }

  h1 {
    @apply text-2xl! rounded-box! text-accent-content! font-bold bg-accent px-1.5! py-1! mt-2! w-full! truncate! block! border-b-0! shadow-xl;
  }

  a:visited {
    @apply link-accent!;
  }

  a:link {
    @apply link-info!;
  }

  table tr:first-child th {
    border: none;
    @apply bg-secondary! font-bold text-center! py-1 px-1.5 text-secondary-content!;
  }

  #nameColumnHeader {
    border: none;
    @apply bg-primary! font-bold text-left! py-1 px-1.5 text-primary-content!;
  }

  table {
    @apply table overflow-hidden border-collapse bg-base-200 table-auto! w-full!;
  }

  td {
    @apply w-[70%]! max-w-[70%]! truncate! p-2;
  }

  th {
    @apply cursor-pointer;
  }

  table.icon-dir {
    @apply w-[70%]! max-w-[70%]! whitespace-nowrap! overflow-hidden!;
  }

  td.detailsColumn {
    -webkit-padding-start: 0.5em !important;
    @apply text-base-content! text-center! wrap-break-word! w-[30%]!;
  }

  a.icon {
    @apply inline-block max-w-full truncate align-bottom ps-[1.7em]! no-underline!;
  }

  a.icon:hover {
    transition: 0.2s !important;
    @apply link-hover! no-underline!;
  }

  tr:nth-child(even) {
    @apply bg-base-200;
  }

  tr:nth-child(odd) {
    @apply bg-base-300;
  }

  tbody > tr:hover {
    @apply h-12;
  }

  a.file {
    @apply [background-image:var(--file-icon-url)]! bg-top-left bg-no-repeat bg-size-[20px_20px]!;
  }

  a.dir,
  a.up {
    @apply [background-image:var(--folder-icon-url)]! bg-top-left bg-no-repeat bg-size-[20px_20px]!;
  }

  #parentDirText {
    @apply text-base-content! text-base! font-bold;
  }
}
